* {
    font-family: 'Arial Narrow Bold', sans-serif;
}

html {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    justify-content: center;
}

.li {
    border: solid 2px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-radius: 12px;
}
 button {
    border: none;
    border-radius: 12px;
 }